<div class="row header">
  <div class="col-md-6"><h1><%= @cooky.name %></h1></div>
  <div class="col-md-6">
    <%= link_to 'Edit', edit_cooky_path(@cooky), :class => "btn btn-info pull-right", :data => {:"turbolinks-action" => "replace"} %>
    <%= link_to raw('Back'), cookies_path, :class => 'btn btn-info pull-right', :data => {:"turbolinks-action" => "replace"}  %>
  </div>
</div>

<% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<table class="table">
  <tr>
    <td width="25%">Description:</td>
    <td><%= @cooky.description %></td>
  </tr>
  <tr>
    <td width="25%">On sale:</td>
    <td><%= @cooky.on_sale ? "#{@cooky.name} best seller and on sale" : "No" %></td>
  </tr>
  <tr>
    <td width="25%">Price:</td>
    <td><%= number_to_currency(@cooky.price) %></td>
  </tr>
</table>

<h3>Reviews</h3>
<% if (@cooky.reviews.present? rescue false) %>
  <% @cooky.reviews.each do |review| %>
    1
  <% end %>
<% else %>
  <%= link_to 'Be the first to rate this cookie!', new_cooky_review_path(:cooky_id => @cooky.id), :class => "btn btn-info fullwidth" %>
<% end %>
